$maxContainer: 1352px;

$bgHeader: #202020;
$bgBottomHeader: #4a4a4a;

$hoverColor: #ff6e30;
$focusColor: #bc572b;
$activeColor: #ce4307;

$bgBtn: #ff6e30;
$colorFontBtn: #fff;
$hoverBtn: #bc572b;
$focusBtn: #ce4307;
$activeBtn: #ce4307;

$colorCategory: #333;

$colorBgAbout: #202020;

$colorAboutTittle: #fff;
$colorAboutText: #cacaca;

$bgInput: #4a4a4a;
